<% layout("/layouts/boilerplate") %>

<h1 id="profile">Profile</h1>

<div class="profile">
    <div class="update-button">
        <a href="/profile/update"><i class="fa-solid fa-user-pen"></i></a>
    </div>

    <div class="profile-image">
            <% if (user.profileImage) { %>
                <img src="<%= user.profileImage %>" alt="Profile Image">
            <% } else { %>
                <img src="/assets/profileIcon.png" alt="Profile Image">
            <% } %>
    </div>

    <div class="profile-data">
        <label for="name">Username : <%= user.username %> </label>
        <label for="email">Email : <%= user.email %> </label>
        <form action="/profile/image" method="POST" enctype="multipart/form-data">
            <input type="file" id="profileImageInput" name="profileImage" style="display: none;" required>
            <input type="image" src="/path/to/upload-button-image.png" alt="Upload Image" onclick="document.getElementById('profileImageInput').click(); return false;">
            <button type="submit">Upload Image</button>
        </form>
    </div>
</div>

<div class="addressProfile">
    <h2>Addresses</h2>
    <% if (user.addresses.length > 0) { %>
        <% user.addresses.forEach(address => { %>
            <div class="address">
                <p><%= address.street %>, <%= address.city %>, <%= address.state %>, <%= address.country %></p>
                <div class="address-buttons">
                    <form action="/profile/address/<%= address._id %>/update" method="GET">
                        <button type="submit">Update</button>
                    </form>
                    <form action="/profile/address/<%= address._id %>/delete" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <p>No addresses provided.</p>
    <% } %>
    <a href="/profile/address/new">Add New Address</a>
</div>