<% layout("/layouts/boilerplate") %>

<h1 id="profile">Profile</h1>

<div class="profile">
    <div class="update-button">
        <a href="/profile/update"><i class="fa-solid fa-user-pen"></i></a>
    </div>

    <div class="profile-image">
            <% if (user.profileImage) { %>
                <img src="<%= user.profileImage %>" alt="Profile Image">
            <% } else { %>
                <img src="/assets/profileIcon.png" alt="Profile Image">
            <% } %>
    </div>

    <div class="profile-data">
        <label for="name">Username : <%= user.username %> </label>
        <label for="email">Email : <%= user.email %> </label>
        <form action="/profile/image" method="POST" enctype="multipart/form-data">
            <input type="file" id="profileImageInput" name="profileImage" style="display: none;" required>
            <input type="image" src="/path/to/upload-button-image.png" alt="Upload Image" onclick="document.getElementById('profileImageInput').click(); return false;">
            <button type="submit">Upload Image</button>
        </form>
    </div>
</div>

<div class="addressProfile">
    <label for="address">Address: 
        <% if (user.address) { %>
            <%= user.address.street %>, <%= user.address.city %>, <%= user.address.state %>, <%= user.address.country %>
        <% } else { %>
            No address provided.
        <% } %>
    </label>
    <a href="/profile/address">Update Address</a>
</div>