<% layout("/layouts/boilerplate") %>

<div class="addressPage">
    <h1>Update Address</h1>

    <form action="/profile/address/<%= address._id %>?_method=PUT" method="POST">
        <input type="text" id="street" name="street" value="<%= address.street %>" placeholder="Street" required>
        <input type="text" id="city" name="city" value="<%= address.city %>" placeholder="City" required>
        <input type="text" id="state" name="state" value="<%= address.state %>" placeholder="State" required>
        <input type="text" id="country" name="country" value="<%= address.country %>" placeholder="Country" required>
        <button type="submit">Update Address</button>
    </form>
</div>