<% layout('admin/layouts/boilerplate') %>

<div class="searchArea">
    <div class="search">
        <input type="text" placeholder="Search...">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <div class="userArea">
        <i class="fa-regular fa-bell"></i>
        <i class="fa-regular fa-user"></i>
    </div>
</div>

<div class="dashboardArea">
    <div>
        <h1 id="dashboardTitle">Dashboard</h1>

        <div class="cards">
            <div class="card">
                <div class="titleIcon">
                    <p>Total Revenue</p>
                    <i class="fa-solid fa-indian-rupee-sign"></i>
                </div>
                <span><i class="fa-solid fa-indian-rupee-sign"></i> <%= totalRevenue.toFixed(2) %></span>
            </div>
            <div class="card">
                <div class="titleIcon">
                    <p>Total Customers</p>
                    <i class="fa-solid fa-user-group"></i>
                </div>
                <span>+ <%= totalCustomers %></span>
            </div>
            <div class="card">
                <div class="titleIcon">
                    <p>Total Orders</p>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <span>+ <%= orders.length %></span>
            </div>
            <div class="card">
                <div class="titleIcon">
                    <P>Products in Stock</P>
                    <i class="fa-solid fa-cubes"></i>
                </div>
                <span><%= totalProductsInStock %></span>
            </div>
        </div>
    </div>

    <div id="recentOrders">
        <h3 id="recentOrderTitle">Recent Orders</h3>

        <% if (orders.length > 0) { %>
            <% orders.forEach(order => { %>
                <div class="order">
                    <div id="orderId">
                        <div class="orderUserDetail">
                            <h3>Order ID: <%= order._id %></h3>
                            <p>Ordered User : <%= order.user.email %></p>
                        </div>
                        <span><%= order.status %></span>
                    </div>
                    <div id="orderDetails">
                        <% if (allProducts.length > 0) { %>
                            <% order.items.forEach(item => { %>
                                <div class="multipleOrders">
                                    <img src="<%= item.product.image %>" alt="<%= item.product.title %>">
                                    <div class="titleDescription">
                                        <p><%= item.product.title %></p>
                                        <p><%= item.product.description %></p>
                                    </div>
                                    <span><i class="fa-solid fa-indian-rupee-sign"></i> <%= item.product.price %></span>
                                    <span id="qty">Qty: <%= item.quantity %></span>
                                </div>
                            <% }) %>
                        <% } %>
                    </div>
                    <div class="totalPrice">
                        <p>Total Price : </p>
                        <span><i class="fa-solid fa-indian-rupee-sign"></i> <%= order.totalPrice %></span>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>No orders found.</p>
        <% } %>
    </div>
</div>