<% layout('admin/layouts/boilerplate') %>

<div class="orderAdmin-div">
    <h1>All Orders</h1>

    <% if (orders.length > 0) { %>
        <% orders.forEach(order => { %>
            <div class="order">
                <div id="orderId">
                    <div class="orderUserDetail">
                        <h3>Order ID: <%= order._id %></h3>
                        <p>Ordered User : <%= order.user.email %></p>
                        <p>Delivery Address: <%= order.deliveryAddress.street %>, <%= order.deliveryAddress.city %>, <%= order.deliveryAddress.state %>, <%= order.deliveryAddress.country %></p>
                    </div>
                    <form action="/admin/orders/<%= order._id %>" method="POST">
                        <select name="status" id="status">
                            <option value="Pending" <%= order.status === 'Pending' ? 'selected' : '' %>>Pending</option>
                            <option value="Processing" <%= order.status === 'Processing' ? 'selected' : '' %>>Processing</option>
                            <option value="Shipped" <%= order.status === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                            <option value="Delivered" <%= order.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                        </select>
                        <button type="submit">Update Status</button>
                    </form>
                </div>
                <div id="orderDetails">
                    <% if (allProducts.length > 0) { %>
                        <% order.items.forEach(item => { %>
                            <div class="multipleOrders">
                                <img src="<%= item.productSnapshot.image %>" alt="<%= item.productSnapshot.title %>">
                                <div class="titleDescription">
                                    <p><%= item.productSnapshot.title %></p>
                                    <p><%= item.productSnapshot.description %></p>
                                </div>
                                <span><i class="fa-solid fa-indian-rupee-sign"></i> <%= item.productSnapshot.price %></span>
                                <span id="qty">Qty: <%= item.quantity %></span>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
                <div class="totalPrice">
                    <p>Total Price : </p>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i> <%= order.totalPrice %></span>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <p>No orders found.</p>
    <% } %>
</div>