<% layout("/layouts/boilerplate") %>

<body>
    <div class="allProductsPage">
        <h1 id="allProductsTitle">All Products</h1>

        <div class="products">
            <% for(let products of allProducts) { %>
                <div class="products-div">
                    <a href="/products/<%= products._id %>" class="singleProducts"> 
                        <div class="allProductsImage">
                            <img src="<%= products.image %>" alt="<%= products.title %>">
                        </div>

                        <div class="allProductDetails">
                            <span id="productsTitleProducts"><%= products.title %></span>
                            <div class="priceAndButton">
                                <span id="productsPrice"><i class="fa-solid fa-indian-rupee-sign"></i> <%= products.price.toLocaleString("en-IN") %> </span>
                                <form action="/cart/add/<%= products._id %>" method="POST">
                                    <button class="addToCartButton" id="addToCartButton">+</button>
                                </form>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</body>